.headerContainer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 0.4% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoContainer {
        width: 25%;
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
            height: 30px;
            width: 120px;
        }

        .sloganContainer {
            font-size: 1.6rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;

            .locationSelector {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                gap: 0.6rem;
                cursor: pointer;
            }
        }
    }

    .searchBar {
        width: 60%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        padding: 0.5rem;
        border: none;
        border-radius: 0.6rem;

        input {
            width: 100%;
            outline: none;
        }
    }
}