@import "tailwindcss";

:root {
  --foreground: #171717;
  --primary-color: #F8CB45
  --secondary-color : #54B226,
  --accent-color:#1F1F1F
  --accent-color2: #FFFFFF
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
